.search_back{
    background-image: url('../img/gabriel-ghnassia-VmS8VQ0n39Q-unsplash.jpg' ) ;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_contunt{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 28px;
    
}
.search_contunt p{
    color: white;
    margin-top: 55px;
}
.search_contunt input{
    width: 400px;
    height: 35px;
    border-radius: 50px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
       
}
input:focus{
    outline: none;
    font-size: 18px;
}